{% set cuatrimestres = ['', 'Primer cuatrimestre', 'Segundo cuatrimestre', 'Anual'] %}
{% set cursos = ['', '1º - Primero', '2º - Segundo', '3º - Tercero', '4º - Cuarto', '5º - Quinto'] %}

{% set tecnicasDocentes = ['Sesiones académicas de teoría', 'Sesiones académicas de problemas', 'Sesiones prácticas en laboratorio', 'Seminarios, exposiciones y debates', 'Trabajo en grupos reducidos', 'Resolución y entrega de problemas/prácticas', 'Realización de pruebas parciales evaluables'] %}

{% set tecnicasEvaluacion = ['Examen de teoría/problemas', 'Trabajos desarrollados durante el curso', 'Participación activa en las sesiones académicas', 'Controles periódicos de adquisición de conocimientos/competencias', 'Examen de prácticas'] %}

{% set binario = [0, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024] %}

<pdf>
	<!-- PÁGINA 1 -->
	<page>
		<img src="images/pdf/cabecera_pdf.jpg" width="100%" height="100px" />
		<table>
			<tr><td class="center text-white color0">CURSO {{ guia.curso }}/{{ guia.curso+1 }}</td></tr>
			<tr>
				<td class="center limpio">
					<p class="size1 small bold">
						{% for enG in guia.asignatura.enGrados %}
							{% if not loop.first %}, {% endif %}
							{% if enG.grado.gradoPadre %}
								{{ enG.grado.gradoPadre.nombre }} itinerario {{ enG.grado.nombre }}
							{% else %}{{ enG.grado.nombre }}
							{% endif %}
						{% endfor %}
					</p>
				</td>
			</tr>
		</table>

		<table>
			<tr><td class="center text-white color1" style="margin-top:20px;">DATOS DE LA ASIGNATURA</td></tr>
			<tr><td class="color2 bold">Nombre:</td></tr>
			<tr><td>{{ guia.asignatura.nombre }}</td></tr>
			<tr><td class="color2 bold">Denominación en inglés:</td></tr>
			<tr><td>{{ guia.asignatura.nombreI }}</td></tr>
		</table>

		<table>
			<tr>
				<td class="bold color2" width="50%">Código:</td>
				<td class="bold color2" width="50%">Carácter:</td>
			</tr>
			<tr>
				<td class="center" width="50%">
					{%- for enGrados in guia.asignatura.enGrados%}
					{% if not loop.first %}, {% endif %}{{ enGrados.codigo }}
					{% endfor %}
				</td>
				<td class="center" width="50%">{{ guia.asignatura.caracter }}</td>
			</tr>
		</table>

		<table>
			<tr><td class="bold color2">Créditos:</td></tr>
		</table>

		<table>
			<tr>
				<td	class="bold" width="25%"></td>
				<td class="center bold color3" width="25%">Totales:</td>
				<td class="center bold color3" width="25%">Teóricos: </td>
				<td class="center bold color3" width="25%">Prácticos: </td>
			</tr>
			<tr>
				<td class="bold color3" width="25%">Créditos L.R.U.</td>
				<td class="center" width="25%">{{ guia.creditosTeoricos + guia.creditosPracticosAula + guia.creditosPracticosInformatica + guia.creditosPracticosLaboratorio + guia.creditosPracticosCampo }}</td>
				<td class="center" width="25%">{{ guia.creditosTeoricos }}</td>
				<td class="center" width="25%">{{ guia.creditosPracticosAula + guia.creditosPracticosInformatica + guia.creditosPracticosLaboratorio + guia.creditosPracticosCampo  }}</td>
			</tr>
		</table>


		<table>
			<tr>
				<td class="bold color2" width="50%">Departamentos:</td>
				<td class="bold color2" width="50%">Áreas de Conocimiento:</td>
			</tr>
			{% for a in guia.asignatura.areas %}
				<tr>
					<td class="center" width="50%">{{ a.departamento }}</td>
					<td class="center" width="50%">{{ a.nombre }}</td>
				</tr>
			{% endfor %}
		</table>

		<table>
			<tr>
				<td class="bold color2" width="50%">Curso:</td>
				<td class="bold color2" width="50%">Cuatrimestre:</td>
			</tr>
			<tr>
				<td class="center" width="50%">{{ cursos[guia.asignatura.curso] }}</td>
				<td class="center" width="50%">{{ cuatrimestres[guia.asignatura.cuatrimestre] }}</td>
			</tr>
		</table>

		<table>
			<tr><td class="center text-white color1" style="margin-top:25px;">DATOS DE LOS PROFESORES</td></tr>
		</table>

		<table>
			<tr>
				<td class="bold color2" width="25%">Nombre:</td>
				<td class="bold color2" width="25%">E-Mail:</td>
				<td class="bold color2" width="25%">Teléfono: </td>
				<td class="bold color2" width="25%">Despacho: </td>
			</tr>
			{% for p in guia.profesores %}
				<tr>
					<td class="center" width="25%">{{ p.nombre|default('') }}</td>
					<td class="center" width="25%">{{ p.email|default('') }}</td>
					<td class="center" width="25%">{{ p.tlf|default('') }}</td>
					<td class="center" width="25%">{{ p.despacho|default('') }}</td>
				</tr>
			{% endfor %}
		</table>

		<p style="margin-top:25px;"><a style="color: #555555;" href="http://www.uhu.es/etsi/horarios.php">Consultar los horarios de la asignatura</a></p>
	</page>

	<!-- PÁGINA 2 EN ADELANTE -->
	<dynamic-page page-size="a4">
		<table>
			<tr><td class="center text-white color1" style="margin-top:25px;">DATOS ESPECÍFICOS DE LA ASIGNATURA</td></tr>
		</table>

		<!-- PUNTO 1 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">1. Descripción de contenidos</td></tr>
			<tr><td class="color4 contenido">1.1. Breve descripción de contenidos:</td></tr>
			<tr><td>{{ guia.datosEspecificos_1_1|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>

			<tr><td class="color4 contenido">1.2. Breve descripción de contenidos (en inglés):</td></tr>
			<tr><td>{{ guia.datosEspecificos_1_2|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 2 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">2. Situación de la asignatura</td></tr>
			<tr><td class="color4 contenido">2.1. Contexto dentro de la titulación:</td></tr>
			<tr><td>{{ guia.datosEspecificos_2_1|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>

			<tr><td class="color4 contenido">2.2. Recomendaciones:</td></tr>
			<tr><td>{{ guia.datosEspecificos_2_2|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 3 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">3. Objetivos:</td></tr>
			<tr><td>{{ guia.datosEspecificos_3|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 4 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">4. Competencias a adquirir por los estudiantes</td></tr>

			<tr><td class="color4 contenido">4.1. Competencias específicas:</td></tr>
			<tr>
				<td>
					<ul>
					{% for c in guia.datosEspecificos_4_1 %}
						<li><b>{{ c.codigo }}:</b> {{ c.nombre }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>

			<tr><td class="color4 contenido">4.2. Competencias transversales o genéricas:</td></tr>
			<tr>
				<td>
					<ul>
					{% for c in guia.datosEspecificos_4_2 %}
						<li><b>{{ c.codigo }}:</b> {{ c.nombre }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		</table>

		<!-- PUNTO 5 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">5. Metodología (en horas de trabajo del estudiante):</td></tr>
			<tr><td></td></tr>
		</table>

		<!-- PUNTO 6 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">6. Técnicas docentes</td></tr>

			<tr><td class="color4 contenido">6.1. Técnicas docentes utilizadas:</td></tr>
			<tr>
				<td>
					<ul>
					{% for t in tecnicasDocentes %}
						{% if guia.datosEspecificos_6_1_1 b-and binario[loop.index] %}
						<li>{{ t }}</li>
						{% endif %}
					{% endfor %}

					{% if guia.datosEspecificos_6_1_2 %}
					<li>{{ guia.datosEspecificos_6_1_2 }}</li>
					{%endif%}
					</ul>
				</td>
			</tr>

			<tr><td class="color4 contenido">6.2. Desarrollo y justificación:</td></tr>
			<tr><td>{{ guia.datosEspecificos_6_2|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 7 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">7. Temario desarrollado:</td></tr>
			<tr><td>{{ guia.datosEspecificos_7|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 8 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">8. Bibliografía</td></tr>

			<tr><td class="color4 contenido">8.1. Bibliografía básica:</td></tr>
			<tr><td>{{ guia.datosEspecificos_8_1|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>

			<tr><td class="color4 contenido">8.2. Bibliografía complementaria:</td></tr>
			<tr><td>{{ guia.datosEspecificos_8_2|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>

		<!-- PUNTO 9 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">9. Sistemas de evaluación e la adquisición de competencias</td></tr>

			<tr><td class="color4 contenido">9.1. Técnicas de evaluación utilizadas:</td></tr>
			<tr>
				<td>
					<ul>
					{% for t in tecnicasEvaluacion %}
						{% if guia.datosEspecificos_9_1_1 b-and binario[loop.index] %}
						<li>{{ t }}</li>
						{% endif %}
					{% endfor %}

					{% if guia.datosEspecificos_9_1_2 %}
					<li>{{ guia.datosEspecificos_9_1_2 }}</li>
					{%endif%}
					</ul>
				</td>
			</tr>

			<tr><td class="color4 contenido">9.2. Desarrollo y justificación:</td></tr>
			<tr><td>{{ guia.datosEspecificos_9_2|replace({'&nbsp;': ' ', '<tbody>': '',  '</tbody>': '', })|raw }}</td></tr>
		</table>
	</dynamic-page>

	<dynamic-page page-size="a4">
		<!-- PUNTO 10 -->
		<table>
			<tr><td class="bold color2" style="margin-top:25px;">10. Organización docente semanal orientativa:</td></tr>
		</table>
		<img src="images/pdf/tabla_head.jpg" width="100%"/>
		<table>
			{% set totalA = 0 %}
			{% set totalB = 0 %}
			{% set totalC = 0 %}
			{% set totalD = 0 %}
			{% set totalE = 0 %}
			{% for e in guia.datosEspecificos_10 %}
				{% if e.numeroSemana == 16 %}
				</table><table><tr><td class="color4 contenido"></td></tr></table><table>
				{% endif %}
				<tr>
					<td class="center bold">#{{ e.numeroSemana }}</td>
					<td class="center">{{ e.horasGruposGrandes }}</td>
					<td class="center">{{ e.horasGruposReducidosAula }}</td>
					<td class="center">{{ e.horasGruposReducidosInformatica }}</td>
					<td class="center">{{ e.horasGruposReducidosLaboratorio }}</td>
					<td class="center">{{ e.horasGruposReducidosCampo }}</td>
					<td width="150">{{ e.examen }}</td>
					<td width="150">{{ e.observaciones }}</td>
				</tr>

				{% set totalA = totalA+e.horasGruposGrandes %}
				{% set totalB = totalB+e.horasGruposReducidosAula %}
				{% set totalC = totalC+e.horasGruposReducidosInformatica %}
				{% set totalD = totalD+e.horasGruposReducidosLaboratorio %}
				{% set totalE = totalE+e.horasGruposReducidosCampo %}
			{% endfor %}

			<tr>
				<td class="color4 contenido"></td>
				<td class="center color4 contenido">{{ totalA }}</td>
				<td class="center color4 contenido">{{ totalB }}</td>
				<td class="center color4 contenido">{{ totalC }}</td>
				<td class="center color4 contenido">{{ totalD }}</td>
				<td class="center color4 contenido">{{ totalE }}</td>
				<td class="color4 contenido"></td>
				<td class="color4 contenido"></td>
			</tr>
		</table>
	</dynamic-page>
</pdf>