<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<title>{% block title %}Guias Docentes{% endblock %}</title>


		{% stylesheets '@EtsiAppGuiasBundle/Resources/public/css/guia-style.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}
		{% block css %}{% endblock %}

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block js_preload %}{% endblock %}

		{% javascripts 
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/guia.default.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
		{% block js %}{% endblock %}
	</style>
	</head>

	<body>
		<img id="imagen-cabecera" src="{{ asset( 'images/guias/header_background.jpg' ) }}">	<!-- cabecera-->

		{% if app.user %}
		<div id="titulo_cabecera">
			<ul>
				<li><a href="{{ path('logout') }}">logout</a></li>
				<li><a href="{{ path('etsi_app_guia_guia') }}">dashboard</a></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('eaga_asignatura_index') }}">rawAdmin</a></li>
				{% endif %}
			</ul>
		</div>
		{% endif %}

		{% block top_menu %}{% endblock %}

		<div id="wrapper">  <!-- div contenedor pantallas -->
			{% block messages %}
				{% if messages is defined %}
					{% if messages.error is defined %}
					{% for m in messages.error %}
						<h4 class="alert_error temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.warning is defined %}
					{% for m in messages.warning %}
						<h4 class="alert_warning temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.success is defined %}
					{% for m in messages.success %}
						<h4 class="alert_success temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.info is defined %}
					{% for m in messages.info %}
						<h4 class="alert_info temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}
				{% endif %}
			{% endblock %}

			{% block section %}
			{% endblock %}

			{% block wrapper %}{% endblock %}
			<div id="footer">{% block footer %}{% endblock %}</div>
		</div>
	</div>  <!-- content-->
	</body>
</html>