{% set estados = ['1: Por enviar', '2: Pendiente aprobación', '3: Publicada', '4: Publicada con fallos'] %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<title>{% block title %}Guias Docentes{% endblock %}</title>


		{% stylesheets 
			'@EtsiAppGuiasBundle/Resources/public/css/guia-style.css'
			'@EtsiAppGuiasBundle/Resources/public/css/introJs/introjs.css' %}

			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}
		{% block css %}{% endblock %}

		<!--[if lt IE 9]>
		{% stylesheets '@EtsiAppGuiasBundle/Resources/public/css/ie.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!--[if lte IE 8]>
		{% stylesheets '@EtsiAppGuiasBundle/Resources/public/css/introJs/introjs-ie.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}
		<!-- <![endif]-->

		{% block js_preload %}{% endblock %}

		{% javascripts 
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/intro.js'
			'@EtsiAppGuiasBundle/Resources/public/js/guia.default.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
		{% block js %}{% endblock %}
	</style>
	</head>

	<body>
		<img id="imagen-cabecera" src="{{ asset( 'images/guias/header_background.jpg' ) }}">	<!-- cabecera-->

		{% if app.user %}
		<div id="titulo_cabecera">
			<ul data-intro="Este es tu menú, en el encontrarás algunas opciones básicas para desplazarte por la app." data-step="2">
				<li><a href="{{ path('logout') }}">logout</a></li>
				<li><a href="{{ path('etsi_app_guia_guia') }}" data-intro="Aquí puedes ver las diferentes opciones de las que dispones. Es tu pantalla inicial y medio de acceso a las distintas guías." data-step="3">dashboard</a></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('eaga_asignatura_index') }}" data-intro="Un gran poder conlleva una gran responsabilidad. <b>Se te ha otorgado la capacidad de editar datos de la base de datos en bruto... ¡cuidado!</b>" data-step="97">rawAdmin</a></li>
				{% endif %}

				<li id="feedback" class="left"><a target="_blank" href="http://www.github.com/webmasterETSI/web" data-intro="Esta aplicación es un proyecto de código abierto realziado por la administración y alumnos colaboradores de la ETSI de la Rábida. Puedes seguir su evolución, reportar fallos o proponer tus propias soluciones en el repositorio git público." data-step="99"><img src="{{ asset( 'images/guias/github-logo.png' ) }}" width="24" height="24"/></a></li>
				<li id="tutorial" class="left"><a href="#" data-intro="Bienvenido a la app de guías docentes de la ETSI, este proceso te ayudará a comprender el funcionamiento básico de la aplicación. Para moverte por este tutorial puedes usar tambien las flechas de tu teclado." data-step="1">tutorial</a></li>
				<li id="feedback" class="left"><a href="#" data-intro="Actualmente estás utilizando una versión beta, por lo que todo feedback es bien recibido. En cualquier momento que veas un error o se te ocurra algo que pueda ayudar a mejorar la app, haznos saber mediante este botón." data-step="98">tuOpinión</a></li>
			</ul>
		</div>
		{% endif %}

		{% block top_menu %}{% endblock %}

		<div id="wrapper">  <!-- div contenedor pantallas -->
			{% block messages %}
				{% if messages is defined %}
					{% if messages.error is defined %}
					{% for m in messages.error %}
						<h4 class="alert_error temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.warning is defined %}
					{% for m in messages.warning %}
						<h4 class="alert_warning temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.success is defined %}
					{% for m in messages.success %}
						<h4 class="alert_success temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}

					{% if messages.info is defined %}
					{% for m in messages.info %}
						<h4 class="alert_info temporal">{{ m }}</h4>
					{% endfor %}
					{% endif %}
				{% endif %}
			{% endblock %}

			{% block section %}
			{% endblock %}

			{% block wrapper %}{% endblock %}
			<div id="footer">{% block footer %}{% endblock %}</div>
		</div>
	</div>  <!-- content-->
	</body>
</html>