{% extends "EtsiAppGuiasBundle::baseLayout.html.twig" %}

{% macro tupla(guia, estados, error, eliminar) %}
	<tr>
		{% if guia.estado==0 or guia.estado==3 -%}
			{% set vinculo = path('etsi_app_guia_guia_pasos', {'id': guia.id}) %}
		{%- else -%}
			{% set vinculo = path('etsi_app_guia_guia_pdf', {'id': guia.id}) %}
		{%- endif -%}
		<td><a href="{{ vinculo }}">
			{%- for enGrados in guia.asignatura.enGrados -%}
			{%- if not loop.first %}, {% endif %}{{ enGrados.codigo -}}
			{%- endfor -%}
		</a></td>
		<td><a href="{{ vinculo }}">{{ guia.asignatura.nombre }}</a></td>
		{% if not error|default(false) -%}
		<td>{{ estados[guia.estado] }}</td>
		{% else -%}
		<td>{{ guia.fechaDeModificacion|date("d/m/Y H:i") }}</td>
		{% endif -%}
		<td>{{ guia.curso }} - {{ guia.curso+1 }}</td>
		{% if eliminar|default(false) -%}
		<td class="eliminar-guia" rel="{{path('etsi_app_guia_guia_delete', {'id': guia.id}) }}">ELIMINAR</td>
		{% elseif not error|default(false) -%}
		<td></td>
		{% endif %}
	</tr>
{% endmacro %}
{% import _self as macros %}

{% block css %}
	{% stylesheets
		'@EtsiAppGuiasBundle/Resources/public/css/dataTables/dashboard_table.css' 
		'@EtsiAppGuiasBundle/Resources/public/css/chosen.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
	{% endstylesheets %}
{% endblock %}


{% block js %}
	{% javascripts
		'@EtsiAppGuiasBundle/Resources/public/js/chosen.jquery.min.js' 
		'@EtsiAppGuiasBundle/Resources/public/js/jquery.dataTables.min.js'
		'@EtsiAppGuiasBundle/Resources/public/js/guia.dashboard.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		GUIA.dashboard = '{{ path("etsi_app_guia_guia") }}';
	</script>
{% endblock %}

{% block titulo_cabecera %}
	AppDashboard
{% endblock %}

{% block wrapper %}
	<div id="steps">
		{% if is_granted('ROLE_REVISOR') %}
		<form>
			<fieldset class="step" style="margin-bottom: 50px;">
				<div class="contenedor" data-intro="Parece ser que eres una persona con criterio, por ello se te ha concedido acceso a todas las guías y poder para modificar su estádo actual. Aquí tienes un resumen de todas las guías, por defecto <b>se encuentran filtradas y solo ves las guías pendientes de envío</b>." data-step="8">
					<div class="in-titulo">Todas las guías</div>

					<div class="clear"></div>
					<div class="float-legend" id="filtro-estado">
						Filtro según estado
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">0: No creada</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">1: Edición</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">2: Pendientes de aprobación</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">3: Aprobada</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">4: Aprobada con fallos</div>
						</div>
					</div>
					<div class="float-legend" id="filtro-curso">
						Filtros según curso
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Primero</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Segundo</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Tercero</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Cuarto</div>
						</div>
					</div>
					<div class="float-legend" id="filtro-datos">
						Otros filtros
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Primer cuatrimestre</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Segundo cuatrimestre</div>
						</div>
						<div>
							<input type="checkbox" checked>
							<div class="etiqueta">Anual</div>
						</div>
						<div class="clear" style="margin-top: 15px;"></div>
						<p>
							<select id="filtro-grado">
								<option value="-1">Todos los grados</option>
								{%- for g in grados %}
								<option value="{{ g.id }}">
									{%- if g.gradoPadre -%}
									{{- g.gradoPadre.nombre }}: itinerario de {% endif -%}
									{{- g.nombre -}}
								</option>
								{% endfor -%}
							</select>

							{% set deptos = [] %}
							<select id="filtro-depto">
								<option value="-1">Todos los departamentos</option>
								{% for a in areas %}
								{% if a.departamento not in deptos %}
								<option value="1">{{ a.departamento }}</option>
								{% set deptos = deptos|merge([a.departamento]) %}
								{% endif %}
								{% endfor %}
							</select>
						</p>
					</div>

					<div class="clear" style="padding-top:50px;"></div>
					<table id="tabla-todo"> 
						<thead> 
							<tr> 
								<th>Asignatura</th>
								<th>Est.</th>
								<th>F. Mod.</th>
								<th>Grado</th>
								<th>Curso</th>
								<th>Cuat.</th>
								<th>Creador</th>
								<th>Departamento</th>
							</tr> 
						</thead> 
						<tbody>
							{% for e in guias %}
							<tr>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{- e.asignatura.nombre }}:<br />
										{%- for enGrados in e.asignatura.enGrados%}
										{%- if not loop.first %}<br />{% endif %}&lt;{{ enGrados.codigo -}}&gt;{% endfor -%}
									</a>
								</td>
								<td>
									<select class="set-estado" data-guia="{{ e.id }}">
										<option value="1"{% if e.estado==0 %} selected{% endif %}>1</option>
										<option value="2"{% if e.estado==1 %} selected{% endif %}>2</option>
										<option value="3"{% if e.estado==2 %} selected{% endif %}>3</option>
										<option value="4"{% if e.estado==3 %} selected{% endif %}>4</option>
									</select>
								</td>
								<td>{{ e.fechaDeModificacion|date("d/m/y") }}<br />{{ e.fechaDeModificacion|date("H:i") }}</td>
								<td>
									{%- for enGrados in e.asignatura.enGrados%}
									{%- if not loop.first %}<br />{% endif -%}
									{%- if enGrados.grado.gradoPadre -%}
									{{- enGrados.grado.gradoPadre.nombre }}: itinerario de {% endif -%}
									{{- enGrados.grado.nombre -}}
									{%- endfor %}
								</td>
								<td>{{ e.asignatura.curso }}</td>
								<td>{{ e.asignatura.cuatrimestre }}</td>
								<td>{{ e.creador.user|default('') }}</td>
								<td>
									{%- for area in e.asignatura.areas%}
										{%- if not loop.first %}<br />{% endif %}{{ area.departamento -}}
									{% endfor %}
								</td>
							</tr>
							{% endfor %}

							{% for a in asignaturas %}
							<tr>
								<td>
									{{- a.nombre }}:<br />
									{%- for enGrados in a.enGrados%}
									{%- if not loop.first %}<br />{% endif %}&lt;{{ enGrados.codigo -}}&gt;{% endfor -%}
								</td>
								<td>
									<select class="set-estado">
										<option value="0" selected>0</option>
									</select>
								</td>
								<td></td>
								<td>
									{%- for enGrados in a.enGrados%}
									{%- if not loop.first %}<br />{% endif -%}
									{%- if enGrados.grado.gradoPadre -%}
									{{ enGrados.grado.gradoPadre.nombre }}: itinerario de {% endif -%}
									{{ enGrados.grado.nombre }}
									{%- endfor %}
								</td>
								<td>{{ a.curso }}</td>
								<td>{{ a.cuatrimestre }}</td>
								<td></td>
								<td>
									{%- for area in a.areas%}
										{%- if not loop.first %}<br />{% endif %}{{ area.departamento -}}
									{% endfor %}
								</td>
							</tr>
							{% endfor %}
						</tbody> 
					</table>

					<p style="clear:both; padding-top:20px;">
						<button class="boton-chico" id="btn-reset" style="margin-right:350px;">RESET</button>
						<button class="boton-chico" id="btn-pdfs">DESCARGAR PDFs</button>
					</p>
				</div>
			</fieldset>
		</form>
		{% endif %}

		<form action="{{ path('etsi_app_guia_personalData') }}" method="post">
			<fieldset class="step" style="margin-bottom: 50px;">
				<div class="contenedor" data-intro="Este módulo te permite gestionar tus datos privados. Estos datos son los que apareceran en las guías en las que seas profesor." data-step="7">
					<div class="in-titulo">Datos de usuario: {{ entity.user }}</div>

					<div class="clear"></div>
					<label for="nombre" class="natural">Nombre</label>
					<input class="natural" name="nombre" value="{{ entity.nombre|default('') }}" />
					<div class="clear"></div>
					<label for="telefono" class="natural">Telefono</label>
					<input class="natural" name="telefono" value="{{ entity.tlf|default('') }}" />
					<div class="clear"></div>
					<label for="email" class="natural">eMail</label>
					<input class="natural" name="email" value="{{ entity.email|default('') }}" />
					<div class="clear"></div>
					<label for="email" class="natural">Despacho</label>
					<input class="natural" name="despacho" value="{{ entity.despacho|default('') }}" />

					<div class="contenedor submit">
						<button id="registerButton" type="submit">MODIFICAR DATOS</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form action="{{ path('etsi_app_guia_guia_new') }}" method="post">
			<fieldset class="step" style="margin-bottom: 50px;">
				<div class="contenedor" data-intro="Este módulo te permite crear guías de las asignaturas. Cuando crees una guía, <b>no olvides agregar en la misma los profesores con docencia</b>, de otro modo no podrán acceder a la guía para colaborar en al edición." data-step="6">
					<div class="in-titulo">Creación de guías</div>

					<div class="clear"></div>
					<label for="asignatura" class="natural">Asignatura</label>
					<select name="asignatura" data-placeholder="Seleccionar..." class="long" >
						{% for a in asignaturas %}
						<option value="{{ a.id }}">
							{{- a.nombre }} &lt;
							{%- for enGrados in a.enGrados%}
								{%- if not loop.first %}; {% endif -%}
								{{- enGrados.codigo }}: 
								{% if enGrados.grado.gradoPadre -%}
								{{ enGrados.grado.gradoPadre.nombre }}: itinerario de 
								{% endif -%}
								{{ enGrados.grado.nombre -}}
							{% endfor %}&gt;
						</option>
						{% endfor %}
					</select>
					<div class="contenedor submit">
						<button id="registerButton" type="submit">CREAR NUEVA GUÍA</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form>
			<fieldset class="step">
				<div class="contenedor" data-intro="Aquí tienes un resumen de todas las guías en las que tienes participación. <b>Para editar una guía simplemente pincha en su código o nombre</b>. Puedes ordenar y filtrar esta tabla (y prácticamente cualquier tabla dentro de la app)." data-step="5">
					<div class="in-titulo">Todas tus guías</div>

					<div class="clear"></div>
					{% set errores = false %}
					{% if entity %}
					<table id="guias"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Estado</th>
								<th>Curso</th>
								<th>Opciones</th>
							</tr> 
						</thead> 
						<tbody>
							{% for g in entity.guias %}
								{% if g not in entity.guiasCreadas %}
									{{ macros.tupla(g, estados, false, true) }}
									{% if g.estado == 3 %}{% set errores = true %}{% endif %}
								{% endif %}
							{% endfor %}
							{% for g in entity.guiasCreadas %}
								{% if g.estado==0 %}
									{{ macros.tupla(g, estados, false) }}
								{% else %}
									{{ macros.tupla(g, estados, false, true) }}
								{% endif %}
								{% if g.estado == 3 %}{% set errores = true %}{% endif %}
							{% endfor %}
						</tbody> 
					</table>
					{% endif %}
				</div>

				{% if errores %}
				<div class="contenedor" data-intro="Estas son las guías en las que tienes participación y que han sido marcadas como erroneas. Estas guías también aparecen en la tabla anterior, pero se ponen aquí solas para que se vean bien, pues <b>si una guía publicada contiene errores es importante que la corrijas lo antes posible</b>." data-step="4" data-position="top">
					<div class="in-titulo">Guías con errores</div>

					<div class="clear"></div>
					{% if entity %}
					<table id="errores"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Última modificación</th>
								<th>Curso</th>
							</tr> 
						</thead> 
						<tbody>
							{% if errores %}
							{% for g in entity.guias %}
								{% if g.estado == 3 %}
								{{ macros.tupla(g, estados, true) }}
								{% endif %}
							{% endfor %}
							{% for g in entity.guiasCreadas %}
								{% if g.estado == 3 and g not in entity.guias %}
									{{ macros.tupla(g, estados, true) }}
								{% endif %}
							{% endfor %}
							{% endif %}
						</tbody> 
					</table>
					{% endif %}
				</div>
				{% endif %}
			</fieldset>
		</form>
	</div>
{% endblock %}