{% extends "EtsiAppGuiasBundle::baseLayout.html.twig" %}


{% block css %}
	{% stylesheets
		'@EtsiAppGuiasBundle/Resources/public/css/dataTables/dashboard_table.css' 
		'@EtsiAppGuiasBundle/Resources/public/css/chosen.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
	{% endstylesheets %}
{% endblock %}


{% block js %}
	{% javascripts
		'@EtsiAppGuiasBundle/Resources/public/js/chosen.jquery.min.js' 
		'@EtsiAppGuiasBundle/Resources/public/js/jquery.dataTables.min.js'
		'@EtsiAppGuiasBundle/Resources/public/js/guia.dashboard.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block titulo_cabecera %}
	AppDashboard
{% endblock %}

{% block wrapper %}
	<div id="steps">

		{% if is_granted('ROLE_REVISOR') %}
		<form action="{{ path('etsi_app_guia_guia_coordinador') }}" method="post">
			<fieldset class="step">
				<div class="contenedor">
					<div class="in-titulo">Gestión de coordinadores</div>

					<div class="clear"></div>
					<label for="asignatura" class="natural">Asignatura</label>
					<select name="asignatura" data-placeholder="Seleccionar..." class="long" >
						{% for a in asignaturas %}
						<option value="{{ a.id }}">
							{{- a.codigo }}: {{ a.nombre -}}
							{% if a.coordinador %} &lt;{{ a.coordinador.nombre }}&gt;{% endif -%}
						</option>
						{% endfor %}
					</select>

					<div class="clear"></div>
					<label for="profesor" class="natural">Profesor</label>
					<select name="profesor" data-placeholder="Seleccionar..." class="long" >
						{% for p in profesores %}
						<option value="{{ p.id }}">{{ p.nombre }} &lt;{{ p.email }}&gt;</option>
						{% endfor %}
					</select>

					<div class="contenedor submit">
						<button id="registerButton" type="submit">ASIGNAR COORDINADOR</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form>
			<fieldset class="step">
				<div class="contenedor">
					<div class="in-titulo">Guias</div>

					<div class="clear"></div>
					<table id="tabla-todo"> 
						<thead> 
							<tr> 
								<th>Asignatura</th> 
								<th>Estado</th>
								<th>Fecha de modificación</th> 
								<th>Curso</th>
							</tr> 
						</thead> 
						<tbody>
							{% set estados = ['1: Por enviar', '2: Pendiente aprobación', '3: Publicada', '4: Publicada con fallos'] %}
							{% for e in guias %}
							<tr>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.nombre }} &lt;{{ e.asignatura.codigo }}&gt;
									</a>
								</td>
								<td>{{ estados[e.estado] }} </td>
								<td>{{ e.fechaDeModificacion|date("d/m/Y H:i") }}</td>
								<td>{{ e.curso }} - {{ e.curso+1 }}</td>
							</tr>
							{% endfor %}
						</tbody> 
					</table>

					<div style="margin-top: 50px; width: 100%"></div>
					<label>Filtros según estado</label>
					<button class="boton-chico" id="filtro-enviar">Pendientes de envío</button>
					<button class="boton-chico" id="filtro-aprobar">Pendientes de aprobación</button>
					<button class="boton-chico" id="filtro-publicada">Publicadas</button>
					<button class="boton-chico" id="filtro-fallos">Publicadas con fallos</button>
					<button class="boton-chico" id="filtro-todo">Todas las guías</button>
					<div class="clear"></div>
				</div>
			</fieldset>
		</form>
		{% endif %}

		{% if entity.asignaturasCoordinadas|length > 0 %}
		<form action="{{ path('etsi_app_guia_guia_new') }}" method="post">
			<fieldset class="step">
				<div class="contenedor">
					<div class="in-titulo">Asignaturas coordinadas</div>

					<div class="clear"></div>
					<label for="asignatura" class="natural">Asignatura</label>
					<select name="asignatura" data-placeholder="Seleccionar..." class="long" >
						{% for a in entity.asignaturasCoordinadas %}
						<option value="{{ a.id }}">{{ a.codigo }}: {{ a.nombre }}</option>
						{% endfor %}
					</select>

					<div class="clear"></div>
					<label for="curso" class="natural">Curso</label>
					<select name="curso" data-placeholder="Seleccionar..." class="peque" >
						{% for curso in range(("now"|date("Y"))-1,("now"|date("Y"))+1) %}
						<option value="{{ curso }}">{{ curso }} - {{ curso+1 }}</option>
						{% endfor %}
					</select>

					<div class="contenedor submit">
						<button id="registerButton" type="submit">CREAR NUEVA GUÍA</button>
					</div>
				</div>
			</fieldset>
		</form>
		{% endif %}

		<form>
			<fieldset class="step">
				<div class="contenedor">
					<div class="in-titulo">Guias con errores</div>

					<div class="clear"></div>
					{% if entity %}
					<table id="errores"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Última modificación</th>
								<th>Curso</th> 
							</tr> 
						</thead> 
						<tbody>
							{% for e in entity.guias %}
							{% if e.estado==3 %}
							<tr>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.codigo }}
									</a>
								</td>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.nombre }}
									</a>
								</td>
								<td>{{ e.fechaDeModificacion|date("d/m/Y H:i") }} </td>
								<td>{{ e.curso }} - {{ e.curso+1 }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody> 
					</table>
					{% endif %}
				</div>
				<div class="contenedor">
					<div class="in-titulo">Todas tus guías</div>

					<div class="clear"></div>
					{% if entity %}
					<table id="guias"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Estado</th>
								<th>Curso</th> 
							</tr> 
						</thead> 
						<tbody>
							{% for e in entity.guias %}
							<tr>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.codigo }}
									</a>
								</td>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.nombre }}
									</a>
								</td>
								<td>{{ estados[e.estado] }} </td>
								<td>{{ e.curso }} - {{ e.curso+1 }}</td>
							</tr>
							{% endfor %}
						</tbody> 
					</table>
					{% endif %}
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}