{% extends "EtsiAppGuiasBundle::baseLayout.html.twig" %}

{% macro tupla(guia, estados, error) %}
	<tr>
		{% if guia.estado==0 or guia.estado==3 %}
			{% set vinculo = path('etsi_app_guia_guia_pasos', {'id': guia.id}) %}
		{% else %}
			{% set vinculo = path('etsi_app_guia_guia_pdf', {'id': guia.id}) %}
		{% endif %}
		<td>
			<a href="{{ vinculo }}">
				{% for enGrados in guia.asignatura.enGrados%}
				{% if not loop.first %}, {% endif %}{{ enGrados.codigo }}
				{% endfor %}
			</a>
		</td>
		<td>
			<a href="{{ vinculo }}">
				{{ guia.asignatura.nombre }}
			</a>
		</td>
		{% if not error|default(false) %}<td>{{ estados[guia.estado] }}</td>
		{% else %}<td>{{ guia.fechaDeModificacion|date("d/m/Y H:i") }}</td>{% endif %}
		<td>{{ guia.curso }} - {{ guia.curso+1 }}</td>
	</tr>
{% endmacro %}
{% import _self as macros %}

{% block css %}
	{% stylesheets
		'@EtsiAppGuiasBundle/Resources/public/css/dataTables/dashboard_table.css' 
		'@EtsiAppGuiasBundle/Resources/public/css/chosen.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
	{% endstylesheets %}
{% endblock %}


{% block js %}
	{% javascripts
		'@EtsiAppGuiasBundle/Resources/public/js/chosen.jquery.min.js' 
		'@EtsiAppGuiasBundle/Resources/public/js/jquery.dataTables.min.js'
		'@EtsiAppGuiasBundle/Resources/public/js/guia.dashboard.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block titulo_cabecera %}
	AppDashboard
{% endblock %}

{% block wrapper %}
	<div id="steps">
		{% if is_granted('ROLE_REVISOR') %}
		<form>
			<fieldset class="step" style="margin-bottom: 50px;">
				<div class="contenedor" data-intro="Parece ser que eres una persona con criterio, por ello se te ha concedido acceso a todas las guías y poder para modificar su estádo actual. Aquí tienes un resumen de todas las guías, por defecto <b>se encuentran filtradas y solo ves las guías pendientes de envío</b>." data-step="7">
					<div class="in-titulo">Todas las guías</div>

					<div class="clear"></div>
					<table id="tabla-todo"> 
						<thead> 
							<tr> 
								<th>Asignatura</th> 
								<th>Estado</th>
								<th>Fecha de modificación</th> 
								<th>Curso</th>
							</tr> 
						</thead> 
						<tbody>
							{% for e in guias %}
							<tr>
								<td>
									<a href="{{ path('etsi_app_guia_guia_pasos', {'id': e.id}) }}">
										{{ e.asignatura.nombre }} 
										&lt;
										{% for enGrados in e.asignatura.enGrados%}
										{% if not loop.first %}, {% endif %}{{ enGrados.codigo }}
										{% endfor %}
										&gt;
									</a>
								</td>
								<td>{{ estados[e.estado] }} </td>
								<td>{{ e.fechaDeModificacion|date("d/m/Y H:i") }}</td>
								<td>{{ e.curso }} - {{ e.curso+1 }}</td>
							</tr>
							{% endfor %}
						</tbody> 
					</table>

					<div style="margin-top: 50px; width: 100%"></div>
					<label>Filtros según estado</label>
					<button class="boton-chico" id="filtro-enviar" data-intro="Con ese filtro puedes visualizar las guías que están siendo creadas." data-step="8">Pendientes de envío</button>
					<button class="boton-chico" id="filtro-aprobar" data-intro="Con ese filtro puedes visualizar las guías que <b>esperan tu aprobación para ser publicadas</b>." data-step="8">Pendientes de aprobación</button>
					<button class="boton-chico" id="filtro-publicada" data-intro="Con ese filtro puedes visualizar las guías publicadas." data-step="8">Publicadas</button>
					<button class="boton-chico" id="filtro-fallos" data-intro="Con ese filtro puedes visualizar las guías publicadas pero que, según se ha notificado, poseen algún tipo de error." data-step="8">Publicadas con fallos</button>
					<button class="boton-chico" id="filtro-todo" data-intro="Con ese filtro puedes verás todas las guías juntas..." data-step="8">Todas las guías</button>
					<div class="clear"></div>
				</div>
			</fieldset>
		</form>
		{% endif %}

		<form action="{{ path('etsi_app_guia_guia_new') }}" method="post">
			<fieldset class="step" style="margin-bottom: 50px;">
				<div class="contenedor" data-intro="Este módulo te permite crear guías de las asignaturas. Cuando crees una guía, <b>no olvides agregar en la misma los profesores con docencia</b>, de otro modo no podrán acceder a la guía para colaborar en al edición." data-step="6">
					<div class="in-titulo">Creación de guías</div>

					<div class="clear"></div>
					<label for="asignatura" class="natural">Asignatura</label>
					<select name="asignatura" data-placeholder="Seleccionar..." class="long" >
						{% for a in asignaturas %}
						<option value="{{ a.id }}">
							{%- for enGrados in a.enGrados%}
							{% if not loop.first %}, {% endif %}{{ enGrados.codigo }}
							{% endfor %}: {{ a.nombre -}}
						</option>
						{% endfor %}
					</select>
					<div class="contenedor submit">
						<button id="registerButton" type="submit">CREAR NUEVA GUÍA</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form>
			<fieldset class="step">
				<div class="contenedor" data-intro="Aquí tienes un resumen de todas las guías en las que tienes participación. <b>Para editar una guía simplemente pincha en su código o nombre</b>. Puedes ordenar y filtrar esta tabla (y prácticamente cualquier tabla dentro de la app)." data-step="5">
					<div class="in-titulo">Todas tus guías</div>

					<div class="clear"></div>
					{% if entity %}
					<table id="guias"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Estado</th>
								<th>Curso</th> 
							</tr> 
						</thead> 
						<tbody>
							{% set errores = false %}
							{% for g in entity.guias %}
								{{ macros.tupla(g, estados) }}
								{% if g.estado == 3 %}{% set errores = true %}{% endif %}
							{% endfor %}
							{% for g in entity.guiasCreadas %}
								{% if g not in entity.guias %}
								{{ macros.tupla(g, estados) }}
								{% if g.estado == 3 %}{% set errores = true %}{% endif %}
								{% endif %}
							{% endfor %}
						</tbody> 
					</table>
					{% endif %}
				</div>

				{% if errores %}
				<div class="contenedor" data-intro="Estas son las guías en las que tienes participación y que han sido marcadas como erroneas. Estas guías también aparecen en la tabla anterior, pero se ponen aquí solas para que se vean bien, pues <b>si una guía publicada contiene errores es importante que la corrijas lo antes posible</b>." data-step="4" data-position="top">
					<div class="in-titulo">Guías con errores</div>

					<div class="clear"></div>
					{% if entity %}
					<table id="errores"> 
						<thead> 
							<tr> 
								<th>Código de la asignatura</th>
								<th>Nombre de la asignatura</th>
								<th>Última modificación</th>
								<th>Curso</th> 
							</tr> 
						</thead> 
						<tbody>
							{% if errores %}
							{% for g in entity.guias %}
								{% if g.estado == 3 %}
								{{ macros.tupla(g, estados, true) }}
								{% endif %}
							{% endfor %}
							{% for g in entity.guiasCreadas %}
								{% if g.estado == 3 and g not in entity.guias %}
									{{ macros.tupla(g, estados, true) }}
								{% endif %}
							{% endfor %}
							{% endif %}
						</tbody> 
					</table>
					{% endif %}
				</div>
				{% endif %}
			</fieldset>
		</form>
	</div>
{% endblock %}