<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title></title>


		{% stylesheets
			'@EtsiAppGuiasBundle/Resources/public/css/chosen.css'
			'ckeditor/samples/sample.css'
			'@EtsiAppGuiasBundle/Resources/public/css/editor.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '{{ asset("ckeditor/") }}'; 
		</script>

		{% javascripts
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/chosen.jquery.min.js'
			'ckeditor/ckeditor.js'
			'@EtsiAppGuiasBundle/Resources/public/js/guiaDefault.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}

		<script type="text/javascript">
			GUIA.updateGuia = '{{ path("etsi_app_guias_guia_update", { "id": guia.id }) }}';
		</script>
	</style>
	</head>

	<body>
		<h1>AppGuíaDocente</h1>
		<button id="anterior">&lt;-ANTERIOR</button> - <button id="siguiente">SIGUIENTE-&gt;</button>

		<div class="pasos">
			<ul>
				<li>{{ guia.estado }}</li>
				<li>{{ guia.fechaDeModificacion|date('m/d/Y H:i') }}</li>
			</ul>
		</div>

		<div class="pasos">
			<h3>Datos de {{ guia.asignatura.nombre }}</h3>
			<h3 id="curso">Curso {{ guia.curso }}-{{ guia.curso+1 }}</h3>

			<label>Creditos teoricos:</label>
			<div class="editor-minimo" id="creditosTeoricos" >{{ guia.creditosTeoricos }}</div><br>

			<label>Creditos practicos aula:</label>
			<div class="editor-minimo" id="creditosPracticosAula" >{{ guia.creditosPracticosAula }}</div><br>

			<label>Creditos practicos informatica:</label>
			<div class="editor-minimo" id="creditosPracticosInformatica" >{{ guia.creditosPracticosInformatica }}</div><br>

			<label>Creditos practicos laboratorio:</label>
			<div class="editor-minimo" id="creditosPracticosLaboratorio" >{{ guia.creditosPracticosLaboratorio }}</div><br>

			<label>Creditos practicos campo:</label>
			<div class="editor-minimo" id="creditosPracticosCampo" >{{ guia.creditosPracticosCampo }}</div><br>

			<h3>Datos de profesores</h3>
			<select name="profesores" data-placeholder="Profesores de la asignatura..." multiple >
				{% for p in profesores %}
				<option value="{{ p.id }}" {% if p in guia.profesores %}selected{% endif %}>
					{{ p.nombre }} &lt;{{ p.email }}&gt;
				</option>
				{% endfor %}
			</select>
		</div>

		<div class="pasos">
			<h3>Datos específicos 1</h3>
			
			<h4>Datos específicos 1.1:</h4>
			<div class="editor-texto" id="datosEspecificos_1_1" >{{ guia.datosEspecificos_1_1|raw }}</div>
			
			<h4>Datos específicos 1.2:</h4>
			<div class="editor-texto" id="datosEspecificos_1_2" >{{ guia.datosEspecificos_1_2|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 2</h3>
			
			<h4>Datos específicos 2.1:</h4>
			<div class="editor-texto" id="datosEspecificos_2_1" >{{ guia.datosEspecificos_2_1|raw }}</div>
			
			<h4>Datos específicos 2.2:</h4>
			<div class="editor-texto" id="datosEspecificos_2_2" >{{ guia.datosEspecificos_2_2|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 3</h3>
			<div class="editor-texto" id="datosEspecificos_3" >{{ guia.datosEspecificos_3|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 4</h3>

			<h4>Datos específicos 4.1:</h4>

			<h4>Datos específicos 4.2:</h4>

		</div>

		<div class="pasos">
			<h3>Datos específicos 5</h3>
			<div>&lt;TABLA AUTOGENERADA&gt;</div>


			<h3>Datos específicos 6</h3>

			<h4>Datos específicos 6.1:</h4>
			<div id="datosEspecificos_6_1_1" class="editor-check-mask">
				<div class="hidden">{{ guia.datosEspecificos_6_1_1 }}</div>
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
			</div>
			<label>Otro: </label><div id="datosEspecificos_6_1_2" class="editor-minimo" >{{ guia.datosEspecificos_6_1_2 }}</div>

			<h4>Datos específicos 6.2:</h4>
			<div class="editor-texto" id="datosEspecificos_6_2" >{{ guia.datosEspecificos_6_2|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 7:</h3>

			<div class="editor-texto" id="datosEspecificos_7" >{{ guia.datosEspecificos_7|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 8</h3>
			
			<h4>Datos específicos 8.1:</h4>
			<div class="editor-texto" id="datosEspecificos_8_1" >{{ guia.datosEspecificos_8_1|raw }}</div>
			
			<h4>Datos específicos 8.2:</h4>
			<div class="editor-texto" id="datosEspecificos_8_2" >{{ guia.datosEspecificos_8_2|raw }}</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 9</h3>

			<h4>Datos específicos 9.1:</h4>
			<div id="datosEspecificos_9_1_1" class="editor-check-mask">
				<div class="hidden">{{ guia.datosEspecificos_9_1_1 }}</div>
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
			</div>
			<label>Otro: </label><div id="datosEspecificos_9_1_2" class="editor-minimo" >{{ guia.datosEspecificos_9_1_2|raw }}</div>

			<h4>Datos específicos 9.2:</h4>
			<div>&lt;TABLA AUTOGENERADA EDITABLE&gt;</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 10:</h3>
			<div class="editor-texto" id="datosEspecificos_10" >{{ guia.datosEspecificos_10|raw }}</div>
		</div>
	</body>
</html>