{% extends "EtsiAppGuiasBundle::baseLayout.html.twig" %}


{% block css %}
	{% stylesheets
		'@EtsiAppGuiasBundle/Resources/public/css/chosen.css'
		'@EtsiAppGuiasBundle/Resources/public/css/editor.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
	{% endstylesheets %}
{% endblock %}

{% block js_preload %}
	<script type="text/javascript">
		var CKEDITOR_BASEPATH = '{{ asset("ckeditor/") }}'; 
	</script>
{% endblock %}
{% block js %}
	{% javascripts
		'@EtsiAppGuiasBundle/Resources/public/js/chosen.jquery.min.js' 
		'@EtsiAppGuiasBundle/Resources/public/js/sliding.form.js'
		'ckeditor/ckeditor.js'
		'@EtsiAppGuiasBundle/Resources/public/js/guia.edicion.js'
		'@EtsiAppGuiasBundle/Resources/public/js/guia.miniaturas.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		GUIA.updateGuia = '{{ path("etsi_app_guias_guia_update", { "id": guia.id }) }}';
		GUIA.dashboard = '{{ path("etsi_app_guia_guia") }}';
	</script>
{% endblock %}

{% block top_menu %}
	<div id="miniaturas" data-intro="Te encuentras en el modo edición de guía. La edición de una guía requiere varios pasos, estas miniaturas te ayudan a saber en todo momento en que paso te encuentras. <b>Puedes desplazarte de un paso a otro pinchando en la miniatura o con los botones de anterior y siguiente</b>." data-step="4">   <!-- miniaturas de cada pantalla del forms-->
		<div id="center">
			<div class="navigation" style="display:none;">
				<ul>
					<li class="selected" data-intro="Los recuadros rojos son información que falta por rellenar mientras que los grises indican los campos completados. Que un campo esté completado no implica necesariamente que su información sea correcta..." data-step="5"><a href="#"><div class="miniatura"></div></a></li>
					<li><a href="#"><div class="miniatura"></div></a></li>
					<li><a href="#"><div class="miniatura"></div></a></li>
					<li><a href="#"><div class="miniatura"></div></a></li>  
					<li><a href="#"><div class="miniatura"></div></a></li> 
					<li><a href="#"><div class="miniatura"></div></a></li> 
					<li><a href="#"><div class="miniatura"></div></a></li>  
					<li><a href="#"><div class="miniatura"></div></a></li> 
					<li><a href="#"><div class="miniatura"></div></a></li> 
					<li><a href="#"><div class="miniatura"></div></a></li>  
					<li><a href="#"><div class="miniatura"></div></a></li>  
				</ul>
		 </div>
		</div>
	</div>

	<div id="menu-estados" data-intro="Aquí se indica el estado actual de esta guía. La edición de las guías solo se permite en el estado 1 y en el estado 4, por tanto <b>todos los cambios que intentes realizar si una guia se encuentra en estado 2 o 3 serán descartados.</b>" data-step="6"> <!-- por terminar-->
		<ul id="button">
			<li><a{% if guia.estado==0 %} id="hover"{% endif %} href="#">[ESTADO 1: Por enviar]</a></li>
			<li><a{% if guia.estado==1 %} id="hover"{% endif %} href="#">[ESTADO 2: Pendiente aprobación]</a></li>
			<li><a{% if guia.estado==2 %} id="hover"{% endif %} href="#">[ESTADO 3: Publicada]</a></li>
			<li><a{% if guia.estado==3 %} id="hover"{% endif %} href="#">[ESTADO 4: Publicada con fallos]</a></li>
		</ul>
	</div>
{% endblock %}


{% block wrapper %}
	<div id="steps">
		<form>
			<fieldset class="step">
				<legend>
					Paso#1: Asignatura
				</legend>
				<div class="contenedor{% if not guia.asignatura.nombreI %} empty{% endif %}">
					<div class="in-titulo">
						{{ guia.asignatura.nombre }} &lt;{{ guia.asignatura.codigo }}&gt;<br>
						Última edición: {{ guia.fechaDeModificacion|date("d/m/Y H:i") }}<br>
						Curso {{ guia.curso }}/{{ guia.curso+1 }}
					</div>

					<label for="nombreI">Nombre en ingles</label>
					<input class="long editor-minimo" id="nombreI" name="nombreI" value="{{ guia.asignatura.nombreI }}" data-intro="Al ir completando la información de la guía, los campos modificados se marcan en rojo, esto indica que están pendientes de ser guardados. <b>Una vez guardados los cambios, los campos se vuelven verdes durante un instante y se recibe un aviso. Dicho proceso es automático y se realiza periodicamente.</b>" data-step="7"/>
				</div>

				<div class="contenedor{% if guia.profesores|length == 0 or not guia.asignatura.coordinador %} empty{% endif %}">
					<div class="in-titulo">Profesores de la asignatura:</div>

					<label for="profesores">Profesores</label>
					<select name="profesores" data-placeholder="Seleccionar..." multiple class="long" >
						{% for p in profesores %}
						<option value="{{ p.id }}" {% if p in guia.profesores %}selected{% endif %}>{{ p.nombre }} &lt;{{ p.email }}&gt;</option>
						{% endfor %}
					</select>
					<div class="clear"></div>
					<label for="coordinador">Coordinador</label>
					<select name="coordinador" data-placeholder="Seleccionar..." class="long" >
						<option value="-1">Ninguno por ahora</option>
						{% for p in guia.profesores %}
						<option value="{{ p.id }}" {% if p==guia.asignatura.coordinador %}selected{% endif %}>{{ p.nombre }} &lt;{{ p.email }}&gt;</option>
						{% endfor %}
					</select>
				</div>

				<div id="contenedor-creditos" class="contenedor{% if guia.creditosTeoricos+guia.creditosPracticosAula+guia.creditosPracticosLaboratorio+guia.creditosPracticosCampo+guia.creditosPracticosInformatica != guia.asignatura.creditos %} empty{% endif %}" data-intro="La modificación de algunos campos influye en otros pasos del proceso de edición de la guía. Por ejemplo, si modificamos la distribución de créditos de una asignatura, esto influirá en la organización docente semanal..." data-step="8" data-position="top">
					<div class="in-titulo">Datos de créditos:</div>

					<div class="right-legend">
						Créditos totales<br>de la asignatura:<br>
						<div id="creditos-totales" class="texto-grande">{{ guia.asignatura.creditos }}</div>
					</div>

					<label for="creditosTeoricos" class="natural">Creditos teóricos</label>
					<input class="editor-minimo mini" id="creditosTeoricos" name="creditosTeoricos" value="{{ guia.creditosTeoricos }}" />

					<label for="creditosPracticosAula" class="natural">Creditos prácticos (aula)</label>
					<input class="editor-minimo mini" id="creditosPracticosAula" name="creditosPracticosAula" value="{{ guia.creditosPracticosAula }}" />

					<label for="creditosPracticosLaboratorio" class="natural">Creditos prácticos (laboratorio)</label>
					<input class="editor-minimo mini" id="creditosPracticosLaboratorio" name="creditosPracticosLaboratorio" value="{{ guia.creditosPracticosLaboratorio }}" />

					<label for="creditosPracticosCampo" class="natural">Creditos prácticos (trabajo de campo)</label>
					<input class="editor-minimo mini" id="creditosPracticosCampo" name="creditosPracticosCampo" value="{{ guia.creditosPracticosCampo }}" />

					<label for="creditosPracticosInformatica" class="natural">Creditos prácticos (aula de informática)</label>
					<input class="editor-minimo mini" id="creditosPracticosInformatica" name="creditosPracticosInformatica" value="{{ guia.creditosPracticosInformatica }}" />
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#2: Descripción de contenidos</legend>
				<div class="contenedor{% if guia.datosEspecificos_1_1|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Breve descripción de contenidos:</div>
					<div class="editor-texto" id="datosEspecificos_1_1" contenteditable="true" >{{ guia.datosEspecificos_1_1|raw }}</div>
				</div>
				<div class="contenedor{% if guia.datosEspecificos_1_2|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Breve descripción de contenidos (en inglés):</div>
					<div class="editor-texto" id="datosEspecificos_1_2" contenteditable="true" >{{ guia.datosEspecificos_1_2|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#3: Situación de la asignatura</legend>
				<div class="contenedor{% if guia.datosEspecificos_2_1|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Contexto dentro de la titulación:</div>
					<div class="editor-texto" id="datosEspecificos_2_1" contenteditable="true" >{{ guia.datosEspecificos_2_1|raw }}</div>
				</div>
				<div class="contenedor{% if guia.datosEspecificos_2_2|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Recomendaciones:</div>
					<div class="editor-texto" id="datosEspecificos_2_2" contenteditable="true" >{{ guia.datosEspecificos_2_2|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#4: Objetivos</legend>
				<div class="contenedor{% if guia.datosEspecificos_3|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Objetivos:</div>
					<div class="editor-texto" id="datosEspecificos_3" contenteditable="true" >{{ guia.datosEspecificos_3|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#5: Competencias a adquirir por los estudiantes</legend>
				<div class="contenedor{% if guia.datosEspecificos_4_1|length == 0 %} empty{% endif %}">
					<div class="in-titulo">Competencias específicas:</div>
					<select name="datosEspecificos_4_1" class="full" data-placeholder="Seleccionar..." multiple >
						{% for c in competencias %}
						{% if c.tipo == 3 or c.tipo == 4 %}
						<option value="{{ c.id }}" {% if c in guia.datosEspecificos_4_1 %}selected{% endif %}>{{ c.codigo }}: {{ c.nombre }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="contenedor{% if guia.datosEspecificos_4_2|length == 0 %} empty{% endif %}">
					<div class="in-titulo">Competencias transversales o genéricas:</div>
					<select name="datosEspecificos_4_2" class="full" data-placeholder="Seleccionar..." multiple >
						{% for c in competencias %}
						{% if  c.tipo == 1 or c.tipo == 2  %}
						<option value="{{ c.id }}" {% if c in guia.datosEspecificos_4_2 %}selected{% endif %}>{{ c.codigo }}: {{ c.nombre }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#6: Técnicas docentes</legend>
				<div class="contenedor{% if not guia.datosEspecificos_6_1_1 %} empty{% endif %}">
					<div class="in-titulo">Técnicas docentes utilizadas</div>
					<div id="datosEspecificos_6_1_1" class="editor-check-mask">
						<div class="hidden">{{ guia.datosEspecificos_6_1_1 }}</div>

						<label for="opc1" class="natural">Sesiones académicas de teoría</label>
						<input type="checkbox" name="opc1">
						<div class="clear"></div>

						<label for="opc2" class="natural">Sesiones académicas de problemas</label>
						<input type="checkbox" name="opc2">
						<div class="clear"></div>

						<label for="opc3" class="natural">Sesiones prácticas en laboratorio</label>
						<input type="checkbox" name="opc3">
						<div class="clear"></div>

						<label for="opc4" class="natural">Seminarios, exposiciones y debates</label>
						<input type="checkbox" name="opc4">
						<div class="clear"></div>

						<label for="opc5" class="natural">Trabajo en grupos reducidos</label>
						<input type="checkbox" name="opc5">
						<div class="clear"></div>

						<label for="opc6" class="natural">Resolución y entrega de problemas/prácticas</label>
						<input type="checkbox" name="opc6">
						<div class="clear"></div>

						<label for="opc7" class="natural">Realización de pruebas parciales evaluables</label>
						<input type="checkbox" name="opc7">
						<div class="clear"></div>
					</div>
					<label for="datosEspecificos_6_1_2">Otro: </label>
					<input id="datosEspecificos_6_1_2" name="datosEspecificos_6_1_2" value="{{ guia.datosEspecificos_6_1_2 }}" class="editor-minimo natural" />
				</div>

				<div class="contenedor{% if guia.datosEspecificos_6_2|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Desarrollo y justificación</div>
					<div class="editor-texto" id="datosEspecificos_6_2" contenteditable="true">{{ guia.datosEspecificos_6_2|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#7: Temario desarrollado</legend>
				<div class="contenedor{% if guia.datosEspecificos_7|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Temario desarrollado</div>
					<div class="editor-texto" id="datosEspecificos_7" contenteditable="true">{{ guia.datosEspecificos_7|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#8: Bibliografía</legend>
				<div class="contenedor{% if guia.datosEspecificos_8_1|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Bibliografía básica:</div>
					<div class="editor-texto" id="datosEspecificos_8_1" contenteditable="true" >{{ guia.datosEspecificos_8_1|raw }}</div>
				</div>
				<div class="contenedor{% if guia.datosEspecificos_8_2|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Bibliografía complementaria:</div>
					<div class="editor-texto" id="datosEspecificos_8_2" contenteditable="true" >{{ guia.datosEspecificos_8_2|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#9: Sistemas de evaluación e la adquisición de competencias</legend>
				<div class="contenedor{% if not guia.datosEspecificos_9_1_1 %} empty{% endif %}">
					<div class="in-titulo">Técnicas de evaluación utilizadas</div>
					<div id="datosEspecificos_9_1_1" class="editor-check-mask">
						<div class="hidden">{{ guia.datosEspecificos_9_1_1 }}</div>

						<label for="opc1" class="natural">Examen de teoría/problemas</label>
						<input type="checkbox" name="opc1">
						<div class="clear"></div>

						<label for="opc2" class="natural">Trabajos desarrollados durante el curso</label>
						<input type="checkbox" name="opc2">
						<div class="clear"></div>

						<label for="opc3" class="natural">Participación activa en las sesiones académicas</label>
						<input type="checkbox" name="opc3">
						<div class="clear"></div>

						<label for="opc4" class="natural">Controles periódicos de adquisición de conocimientos/competencias</label>
						<input type="checkbox" name="opc4">
						<div class="clear"></div>

						<label for="opc5" class="natural">Examen de prácticas</label>
						<input type="checkbox" name="opc5">
						<div class="clear"></div>
					</div>
					<label for="datosEspecificos_9_1_2">Otro: </label>
					<input id="datosEspecificos_9_1_2" name="datosEspecificos_9_1_2" value="{{ guia.datosEspecificos_9_1_2 }}" class="editor-minimo natural" />
				</div>

				<div class="contenedor{% if guia.datosEspecificos_9_2|striptags is empty %} empty{% endif %}">
					<div class="in-titulo">Desarrollo y justificación</div>
					<div class="editor-texto" id="datosEspecificos_9_2" contenteditable="true">{{ guia.datosEspecificos_9_2|raw }}</div>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#10: Organización docente semanal orientativa</legend>
				<div class="contenedor">
					<table id="tabla-semanas"> 
						<thead> 
							<tr> 
								<th rowspan="2">Semana</th> 
								<th rowspan="2">Horas de clases (grupos grandes)</th>
								<th colspan="4">Horas de clases/prácticas (grupos reducidos)</th> 
								<th rowspan="2">Examen</th>
								<th rowspan="2">Observaciones</th>
							</tr> 
							<tr> 
								<th>Aula</th> 
								<th>Sala de informática</th> 
								<th>Laboratorio</th> 
								<th>Prácticas de campo</th>
							</tr> 
						</thead> 
						<tbody>
							{% for e in semanas %}
							{% if e.numeroSemana == 16 %}
							<tr><td class="margin" colspan="8"></td></tr>
							{% endif %}
							<tr>
								<td style="text-align: center;" class="numero-semana">
									<b>#{{ e.numeroSemana }}</b>
								</td>
								<td>
									<input class="editor-semana margenes mini" name="horasGruposGrandes" value="{{ e.horasGruposGrandes }}" />
								</td>
								<td>
									<input class="editor-semana margenes mini" name="horasGruposReducidosAula" value="{{ e.horasGruposReducidosAula }}" />
								</td>
								<td>
									<input class="editor-semana margenes mini" name="horasGruposReducidosInformatica" value="{{ e.horasGruposReducidosInformatica }}" />
								</td>
								<td>
									<input class="editor-semana margenes mini" name="horasGruposReducidosLaboratorio" value="{{ e.horasGruposReducidosLaboratorio }}" />
								</td>
								<td>
									<input class="editor-semana margenes mini" name="horasGruposReducidosCampo" value="{{ e.horasGruposReducidosCampo }}" />
								</td>
								<td>
									<input class="editor-semana peque" name="examen" value="{{ e.examen }}" />
								</td>
								<td>
									<input class="editor-semana peque" name="observaciones" value="{{ e.observaciones }}" />
								</td>
							</tr>
							{% endfor %}
						</tbody> 
						<tfoot>
							<tr>
								<td style="text-align: center;" class="numero-semana"></td>
								<td id="total-clases" class="total" data-intro="El proceso de generado de una guía depende directamente de los profesores implicados, sin embargo algunas comprobaciones han sido programadas para realizarse autáticamente." data-step="9" data-position="top"></td>
								<td id="total-aula" class="total"></td>
								<td id="total-informatica" class="total"></td>
								<td id="total-laboratorio" class="total"></td>
								<td id="total-campo" class="total"></td>
								<td colspan="2"></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</fieldset>

			<fieldset class="step">
				<legend>Paso#12</legend>
				<div class="contenedor submit">
					<button id="button-descargar-pdf" ref="{{ path('etsi_app_guia_guia_pdf', {'id': guia.id} ) }}">DESCARGAR PDF</button>
				</div>

				{% if is_granted('ROLE_REVISOR') %}
					{# 1: Por enviar #}
					{% if guia.estado==0 %}
						<button id="button-enviar">EN REVISIÓN</button>

					{# 2: Pendiente aprobación #}
					{% elseif guia.estado==1 %}
						<button id="button-aprobar">APROBAR GUÍA</button>
						<button id="button-rechazar" style="margin-top: 10px;">RECHAZAR GUÍA</button>

					{# 3: Publicada #}
					{% elseif guia.estado==2 %}
						<button id="button-fallos">MARCAR CON ERRORES</button>

					{# 4: Publicada con fallos #}
					{% elseif guia.estado==3 %}
						<button id="button-corregida">MARCAR COMO CORREGIDA</button>

					{% endif %}
				{% endif %}
				</div>
			</fieldset>
		</form>

		<button id="anterior">&laquo; ANTERIOR</button>
		<button id="siguiente">SIGUIENTE &raquo;</button>
	</div>
{% endblock %}
