<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title></title>


		{% stylesheets
			'@EtsiAppGuiasBundle/Resources/public/css/autocomplete.css'
			'ckeditor/samples/sample.css'
			'@EtsiAppGuiasBundle/Resources/public/css/editor.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '{{ asset("ckeditor/") }}'; 
		</script>

		{% javascripts
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/jquery.autocomplete.js'
			'ckeditor/ckeditor.js'
			'@EtsiAppGuiasBundle/Resources/public/js/guiaDefault.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}


		<script type="text/javascript">
			GUIA.getGuia = '{{ path("etsi_app_guias_guia_get", { "id": id }) }}';
			GUIA.updateGuia = '{{ path("etsi_app_guias_guia_update", { "id": id }) }}';

			GUIA.asignaturaSearch = '{{ path("eaga_search_asignatura", { "q": "" }) }}/';
			GUIA.competenciaSearch = '{{ path("eaga_search_competencia", { "q": "" }) }}/';
			GUIA.profesorSearch = '{{ path("eaga_search_profesor", { "q": "" }) }}/';

			GUIA.getAsignatura = '{{ path("eaga_get_asignatura", { "id": "" }) }}/';
			GUIA.getCompetencia = '{{ path("eaga_get_competencia", { "id": "" }) }}/';
			GUIA.getProfesor = '{{ path("eaga_get_profesor", { "id": "" }) }}/';
			GUIA.getSemanas = '{{ path("eaga_get_semanas", { "id": "" }) }}/';

			GUIA.init();
		</script>
	</style>
	</head>

	<body>
		<h1>AppGuíaDocente</h1>

		<div class="pasos">
			<h3>Pendiente de representar</h3>
			<ul>
				<li>estado de la guía</li>
				<li>fecha de modificación</li>
				<li>notificaciones dinámicas</li>
			</ul>
		</div>

		<div class="pasos">
			<h3>Datos de asignatura</h3>
			<input type="text" id="asignatura"></input>
			<h3 id="curso">Curso -</h3>

			<label>Creditos teoricos:</label>
			<div class="editor-minimo" id="creditosTeoricos"> - </div><br>

			<label>Creditos practicos aula:</label>
			<div class="editor-minimo" id="creditosPracticosAula"> - </div><br>

			<label>Creditos practicos informatica:</label>
			<div class="editor-minimo" id="creditosPracticosInformatica"> - </div><br>

			<label>Creditos practicos laboratorio:</label>
			<div class="editor-minimo" id="creditosPracticosLaboratorio"> - </div><br>

			<label>Creditos practicos campo:</label>
			<div class="editor-minimo" id="creditosPracticosCampo"> - </div><br>

			<h3>Datos de profesores</h3>
			<input type="text" id="profesor"></input>
		</div>

		<div class="pasos">
			<h3>Datos específicos 1</h3>
			
			<h4>Datos específicos 1.1:</h4>
			<div class="editor-texto" id="datosEspecificos_1_1"></div>
			
			<h4>Datos específicos 1.2:</h4>
			<div class="editor-texto" id="datosEspecificos_1_2"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 2</h3>
			
			<h4>Datos específicos 2.1:</h4>
			<div class="editor-texto" id="datosEspecificos_2_1"></div>
			
			<h4>Datos específicos 2.2:</h4>
			<div class="editor-texto" id="datosEspecificos_2_2"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 3</h3>
			<div class="editor-texto" id="datosEspecificos_3"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 4</h3>

			<h4>Datos específicos 4.1:</h4>
			<input type="text" id="datosEspecificos_4_1"></input>

			<h4>Datos específicos 4.2:</h4>
			<input type="text" id="datosEspecificos_4_2"></input>
		</div>

		<div class="pasos">
			<h3>Datos específicos 5</h3>
			<div>&lt;TABLA AUTOGENERADA&gt;</div>


			<h3>Datos específicos 6</h3>

			<h4>Datos específicos 6.1:</h4>
			<div id="datosEspecificos_6_1_1">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
			</div>
			<label>Otro: </label><div id="datosEspecificos_6_1_2" class="editor-minimo"></div>

			<h4>Datos específicos 6.2:</h4>
			<div class="editor-texto" id="datosEspecificos_6_2"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 7:</h3>

			<div class="editor-texto" id="datosEspecificos_7"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 8</h3>
			
			<h4>Datos específicos 8.1:</h4>
			<div class="editor-texto" id="datosEspecificos_8_1"></div>
			
			<h4>Datos específicos 8.2:</h4>
			<div class="editor-texto" id="datosEspecificos_8_2"></div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 9</h3>

			<h4>Datos específicos 9.1:</h4>
			<div id="datosEspecificos_9_1_1">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
				<input type="checkbox" name="vehicle" value="Car">
			</div>
			<label>Otro: </label><div id="datosEspecificos_9_1_2" class="editor-minimo"></div>

			<h4>Datos específicos 9.2:</h4>
			<div>&lt;TABLA AUTOGENERADA EDITABLE&gt;</div>
		</div>

		<div class="pasos">
			<h3>Datos específicos 10:</h3>
			<div class="editor-texto" id="datosEspecificos_10"></div>
		</div>

		<button id="anterior">&lt;-ANTERIOR</button>
		<button id="siguiente">SIGUIENTE-&gt;</button>
	</body>
</html>