{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de asignaturas{% endblock %}

{% block section %}
<article class="module width_half">
	<header>
		<h3>Asignaturas</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Código</th> 
				<th>Nombre</th>
				<th>Cuat.</th> 
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% for e in entities %}
			<tr>
				<td>{{ e.codigo }}</td>
				<td>{{ e.nombre|truncate(25) }}</td>
				<td style="text-align: center;">{{ e.cuatrimestre }}</td>
				<td style="min-width: 55px;">
					<a href="{{ path('eaga_asignatura_edit', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_asignatura_delete', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>

<article class="module width_half">
	<header>
		<h3>Editor</h3>
	</header>

	<form action="{{ action }}" method="POST">
		<div class="module_content">
			<fieldset>
				<label>Datos básicos</label>
				{{ macros.input('Código', 'codigo', entity.codigo|default('')) }}
				{{ macros.input('Nombre', 'nombre', entity.nombre|default('')) }}
				{{ macros.input('Nombre en ingles', 'nombreI', entity.nombreI|default('')) }}
			</fieldset>

			<fieldset>
				<label>Datos de curso</label>			
				{{ macros.input('Carácter', 'caracter', entity.caracter|default('')) }}
				{{ macros.input('Creditos', 'creditos', entity.creditos|default('')) }}
				{{ macros.input('Curso', 'curso', entity.curso|default('')) }}
				{{ macros.input('Cuatrimestre', 'cuatrimestre', entity.cuatrimestre|default('')) }}
			</fieldset>

			<fieldset>
				<label>Datos de area</label>
				<select class="chosen-select" data-placeholder="Seleccionar..." name="areas[]" multiple style="margin-bottom: 10px;">
					{% for a in areas %}
					<option value="{{ a.id }}" {% if entity and a in entity.areas %}selected{% endif %}>
						{{ a.nombre }} - {{ a.departamento }}
					</option>
					{% endfor %}
				</select>
			</fieldset>

			<fieldset>
				<label>Grados en los que aparece</label>
				<select class="chosen-select" data-placeholder="Seleccionar..." name="grados[]" multiple style="margin-bottom: 10px;">
					{% for g in grados %}
					<option value="{{ g.id }}" {% if entity and g in entity.grados %}selected{% endif %}>
						{% if g.gradoPadre %}
						{{ g.gradoPadre.nombre }}, itinerario de 
						{% endif %}
						{{ g.nombre }}
					</option>
					{% endfor %}
				</select>
			</fieldset>

			<fieldset>
				<label>Profesor coordinador</label>
				<select class="chosen-select"  data-placeholder="Seleccionar..." name="coordinador" style="margin-bottom: 10px;">
					{% for p in profesores %}
					<option value="{{ p.id }}" {% if entity and p == entity.coordinador %}selected{% endif %}>
						{{ p.nombre }}
					</option>
					{% endfor %}
				</select>
			</fieldset>
		</div>
		<footer>
			<div class="submit_link">
				{% if action != path('eaga_asignatura_new')%}
				<a href="{{ path('eaga_asignatura_index') }}" style="margin-right: 130px;">
					<input type="button" value="Nuevo">
				</a>
				{% endif %}
				<input type="submit" value="{% if action != path('eaga_asignatura_new')%}Guardar{% else %}Crear{% endif %}" class="alt_btn">
				<a href="{{ action }}"><input type="button" value="Reset"></a>
			</div>
		</footer>
	</form>
</article>
{% endblock %}