{% macro input(placeholder, nombre, valor) %}
		<input type="text" placeholder="{{ placeholder }}" name="{{ nombre }}" value="{{ valor }}" style="width:92%; margin-bottom: 10px;">
{% endmacro %}
{% import _self as macros %}

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}AppGuias :: Admin{% endblock %}</title>

		{% stylesheets '@EtsiAppGuiasBundle/Resources/public/css/layout.css'%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
		{% endstylesheets %}

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% javascripts
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/hideshow.js'
			'@EtsiAppGuiasBundle/Resources/public/js/jquery.tablesorter.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/jquery.equalHeight.js'
			'@EtsiAppGuiasBundle/Resources/public/js/adminDefault.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
	</head>

	<body>
		<header id="header">
			<hgroup>
				<h1 class="site_title"><a href="#">AppGuias Admin</a></h1>
				<h2 class="section_title">{% block sectionTitle %}Dashboard{% endblock %}</h2>
			</hgroup>
		</header>
		
		<section id="secondary_bar">
			<div class="user">{% block user %}{% endblock %}</div>
			<div class="breadcrumbs_container">
				{% block breadcrumbs %}{% endblock %}
			</div>
		</section><!-- end of secondary bar -->
		
		<aside id="sidebar" class="column">
			{% block search %}
			<form class="quick_search">
				<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
			</form>
			<hr/>
			{% endblock %}

			{% block menu %}
			<h3>Entidades</h3>
			<ul class="toggle">
				<li class="icn_categories">
					<a href="{{ path('eaga_asignatura_index') }}">Asignaturas</a>
				</li>
				<li class="icn_categories">
					<a href="{{ path('eaga_competencia_index') }}">Competencia</a>
				</li>
				<li class="icn_categories">
					<a href="{{ path('eaga_grado_index') }}">Grado</a>
				</li>
				<li class="icn_categories">
					<a href="{{ path('eaga_guia_index') }}">Guia</a>
				</li>
				<li class="icn_categories">
					<a href="{{ path('eaga_profesor_index') }}">Profesor</a>
				</li>
				<li class="icn_categories">
					<a href="{{ path('eaga_semana_index') }}">Semana</a>
				</li>
			</ul>
			{% endblock %}			
			<footer>
				{% block footer %}
				<hr />
				<p><strong>Copyright &copy; UHU :: ETSI :: 2013</strong></p>
				{% endblock %}
			</footer>
		</aside><!-- end of sidebar -->

		<section id="main" class="column">
			{% block messages %}
				{% for m in messages.error %}
					<h4 class="alert_error temporal">{{ m }}</h4>
				{% endfor %}

				{% for m in messages.warning %}
					<h4 class="alert_warning temporal">{{ m }}</h4>
				{% endfor %}

				{% for m in messages.success %}
					<h4 class="alert_success temporal">{{ m }}</h4>
				{% endfor %}
			{% endblock %}

			{% block section %}
			{% endblock %}
		</section>
	</body>
</html>