{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de competencias{% endblock %}

{% block section %}
<article class="module width_half">
	<header>
		<h3>Competencias</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Código</th> 
				<th>Nombre</th>
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% for e in entities %}
			<tr>
				<td>{{ e.codigo }}</td>
				<td>{{ e.nombre }}</td>
				<td style="min-width: 55px;">
					<a href="{{ path('eaga_competencia_edit', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_competencia_delete', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>

<article class="module width_half">
	<header>
		<h3>Editor</h3>
	</header>

	<form action="{{ action }}" method="POST">
		<div class="module_content">
			<fieldset>
				<label>Datos de competencia</label>
				{{ macros.input('Código', 'codigo', entity.codigo|default('')) }}

				<textarea placeholder="Datos" name="nombre" style="width:92%; height: 150px; margin-bottom: 10px;">
					{%- if entity %}{{ entity.nombre }}{% endif -%}
				</textarea>

				<label>Tipo de competencia</label>
				<p style="clear: both; margin-left: 20px; margin-bottom:20px;">
					Básica <input type="radio" name="tipo" value="1" {% if not entity or entity.tipo == 1 %}checked{% endif %}><br>
					General <input type="radio" name="tipo" value="2" {% if entity and entity.tipo == 2 %}checked{% endif %}> <br>
					Transversal <input type="radio" name="tipo" value="3" {% if entity and entity.tipo == 3 %}checked{% endif %}> <br>
					Específica <input type="radio" name="tipo" value="4" {% if entity and entity.tipo == 4 %}checked{% endif %}> 
				</p>
				
				<label>Grado de competencia</label>
				<select class="chosen-select" data-placeholder="Seleccionar..." name="grado" >
					<option></option>
					{% for g in grados %}
					<option value="{{ g.id }}" {% if entity and g == entity.grado %}selected{% endif -%}>
						{%- if g.gradoPadre -%}
						{{- g.gradoPadre.nombre -}}, itinerario de 
						{% endif -%}
						{{- g.nombre -}}
					</option>
					{% endfor %}
				</select>
			</fieldset>
		</div>
		<footer>
			<div class="submit_link">
				{% if action != path('eaga_competencia_new')%}
				<a href="{{ path('eaga_competencia_index') }}" style="margin-right: 130px;">
					<input type="button" value="Nuevo">
				</a>				
				{% endif %}
				<input type="submit" value="{% if action != path('eaga_competencia_new')%}Guardar{% else %}Crear{% endif %}" class="alt_btn">
				<a href="{{ action }}"><input type="button" value="Reset"></a>
			</div>
		</footer>
	</form>
</article>
{% endblock %}