{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de grados{% endblock %}

{% block section %}
<article class="module width_half">
	<header>
		<h3>Grados</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Nombre</th>
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% for e in entities %}
			<tr>
				<td>
					{% if e.gradoPadre %}
					{{ e.gradoPadre.nombre|truncate(50) }},<br> itinerario de 
					{% endif %}
					{{ e.nombre|truncate(50) }}
				</td>
				<td>
					<a href="{{ path('eaga_grado_edit', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_grado_delete', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>

<article class="module width_half">
	<header>
		<h3>Editor</h3>
	</header>

	<form action="{{ action }}" method="POST">
		<div class="module_content">
			<fieldset>
				<label>Datos de grado</label>
				{{ macros.input('Nombre', 'nombre', entity.nombre|default('')) }}

				<label>Grado padre</label>
				<select style="margin-bottom: 10px;" name="gradoPadre">
					<option value=""></option>

					{% for e in entities %}
					<option value="{{ e.id }}" {% if entity and entity.gradoPadre and entity.gradoPadre.id==e.id %}selected{% endif %}>{{ e.nombre }}</option>
					{% endfor %}
				</select>

				{% if entity %}
				<label>Asignaturas</label>
				<div class="clear"></div>

				{% for curso in range(1, 4) %}
				<ul>
					{% for a in entity.asignaturas %}
						{% if a.curso == curso %}
						<li>
							<a href="{{ path('eaga_asignatura_edit', {'id': a.id}) }}">{{ a.codigo }}: {{ a.nombre|truncate(40) }}</a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
				{% endfor %}

				{% endif %}
			</fieldset>
		</div>
		<footer>
			<div class="submit_link">
				{% if action != path('eaga_grado_new')%}
				<a href="{{ path('eaga_grado_index') }}" style="margin-right: 130px;">
					<input type="button" value="Nuevo">
				</a>				
				{% endif %}
				<input type="submit" value="{% if action != path('eaga_grado_new')%}Guardar{% else %}Crear{% endif %}" class="alt_btn">
				<a href="{{ action }}"><input type="button" value="Reset"></a>
			</div>
		</footer>
	</form>
</article>
{% endblock %}