{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de asignaturas{% endblock %}

{% block section %}
<article class="module width_full">
	<header>
		<h3>Asignaturas</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Asignatura</th> 
				<th>Estado</th>
				<th>Fecha de mod.</th> 
				<th>Curso</th> 
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% set estados = ['Pendiente de revisión', 'Publicada con errores', 'Publicada pendiente de revisión', 'Publicada'] %}
			{% for e in entities %}
			<tr>
				<td>{{ e.asignatura.nombre }}</td>
				<td>{{ estados[e.estado] }} </td>
				<td>{{ e.fechaDeModificacion|date("d/m/Y") }}</td>
				<td>{{ e.curso }}</td>
				<td>
					<a href="{{ path('eaga_asignatura_edit', { 'id': e.id, 'paso': '1' }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_asignatura_delete', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>
{% endblock %}