{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de profesores{% endblock %}

{% block section %}
<article class="module width_half">
	<header>
		<h3>Profesores</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr>
				<th>Nombre</th>
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% for e in entities %}
			<tr>
				<td>{{ e.nombre|capitalize }}</td>
				<td style="min-width: 55px;">
					<a href="{{ path('eaga_profesor_edit', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_profesor_delete', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>

<article class="module width_half">
	<header>
		<h3>Editor</h3>
	</header>

	<form action="{{ action }}" method="POST">
		<div class="module_content">
			<fieldset>
				<label>Datos básicos</label>
				{{ macros.input('Nombre', 'nombre', entity.nombre|default('')) }}
				{{ macros.input('eMail', 'email', entity.email|default('')) }}
				{{ macros.input('Teléfono', 'tlf', entity.tlf|default('')) }}
				{{ macros.input('Contraseña', 'password', entity.password|default('')) }}
			</fieldset>
			<fieldset>
				<label>Asignaturas que coordina</label>
				<div class="clear"></div>
				<ul>
					{% if entity %}
					{% for a in entity.asignaturasCoordinadas %}
					<li>
						<a href="{{ path('eaga_asignatura_edit', {'id': a.id}) }}">{{ a.codigo }}: {{ a.nombre|truncate(40) }}</a>
					</li>
					{% endfor %}
					{% endif %}
				</ul>
			</fieldset>

			<fieldset>
				<label>Roles asignados</label>
				<select class="chosen-select" data-placeholder="Seleccionar..." name="roles[]" multiple style="margin-bottom: 10px;">
					{% for r in roles %}
					<option value="{{ r.id }}" {% if entity and r in entity.roles %}selected{% endif %}>
						{{ r.name }}
					</option>
					{% endfor %}
				</select>
			</fieldset>
		</div>
		<footer>
			<div class="submit_link">
				{% if action != path('eaga_profesor_new')%}
				<a href="{{ path('eaga_profesor_index') }}" style="margin-right: 130px;">
					<input type="button" value="Nuevo">
				</a>				
				{% endif %}
				<input type="submit" value="{% if action != path('eaga_profesor_new')%}Guardar{% else %}Crear{% endif %}" class="alt_btn">
				<a href="{{ action }}"><input type="button" value="Reset"></a>
			</div>
		</footer>
	</form>
</article>
{% endblock %}