{% extends "EtsiAppGuiasBundle:Admin:baseLayout.html.twig" %}

{% block sectionTitle %}Administración de semanas{% endblock %}

{% block section %}
<article class="module width_half">
	<header>
		<h3>Semanas</h3>
	</header>

	<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr>
				<th>Semana</th> 
				<th>Hs. G. grandes</th>
				<th>Hs. G. reducidos</th> 
				<th>examen</th> 
				<th>Acciones</th> 
			</tr> 
		</thead> 
		<tbody>
			{% for e in entities %}
			{% set hReducidos = e.horasGruposReducidosAula + e.horasGruposReducidosInformatica + e.horasGruposReducidosLaboratorio + e.horasGruposReducidosCampo %}
			<tr>
				<td>#{{ e.numeroSemana }}</td>
				<td>{{ e.horasGruposGrandes }}</td>
				<td>{{ hReducidos }}</td>
				<td>{{ e.examen }}</td>
				<td style="min-width: 55px;">
					<a href="{{ path('eaga_semana_edit', { 'id': e.id }) }}">
						<input type="image" src="{{ asset('images/icn_edit.png') }}" title="Editar">
					</a>
					<a href="{{ path('eaga_semana_delete', { 'id': e.id }) }}" class="confirm">
						<input type="image" src="{{ asset('images/icn_trash.png') }}" title="Eliminar">
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody> 
	</table>
</article>

<article class="module width_half">
	<header>
		<h3>Editor</h3>
	</header>

	<form action="{{ action }}" method="POST">
		<div class="module_content">
			<fieldset>
				<label>Datos básicos</label>
				{{ macros.input('Número de semana', 'numeroSemana', entity.numeroSemana|default('')) }}
				{{ macros.input('¿Exámen?', 'examen', entity.examen|default('')) }}
				{{ macros.input('Observaciones', 'observaciones', entity.observaciones|default('')) }}
			</fieldset>

			<fieldset>
				<label>Datos de de horas</label>			
				{{ macros.input('Grupos grandes', 'horasGruposGrandes', entity.horasGruposGrandes|default('')) }}
				{{ macros.input('Grupos reducidos: Aula', 'horasGruposReducidosAula', entity.horasGruposReducidosAula|default('')) }}
				{{ macros.input('Grupos reducidos: Informática', 'horasGruposReducidosInformatica', entity.horasGruposReducidosInformatica|default('')) }}
				{{ macros.input('Laboratorio', 'horasGruposReducidosLaboratorio', entity.horasGruposReducidosLaboratorio|default('')) }}
				{{ macros.input('Campo', 'horasGruposReducidosCampo', entity.horasGruposReducidosCampo|default('')) }}
			</fieldset>

			{% if entity %}
			<fieldset>
				<label>Guía</label>
				<div class="clear"></div>
				<a href="{{ path('etsi_app_guia_guia_pasos', { 'id': entity.guia.id }) }}" style="margin-left: 6px;">{{ entity.guia.asignatura.nombre }} curso {{ entity.guia.curso }} - {{ entity.guia.curso+1 }}</a>
			</fieldset>
			{% endif %}
		</div>
		<footer>
			<div class="submit_link">
				{% if action != path('eaga_semana_new')%}
				<a href="{{ path('eaga_semana_index') }}" style="margin-right: 130px;">
					<input type="button" value="Nuevo">
				</a>				
				{% endif %}
				<input type="submit" value="{% if action != path('eaga_semana_new')%}Guardar{% else %}Crear{% endif %}" class="alt_btn">
				<a href="{{ action }}"><input type="button" value="Reset"></a>
			</div>
		</footer>
	</form>
</article>
{% endblock %}